services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: hackaton_user
      POSTGRES_PASSWORD: hackaton_passwd
      POSTGRES_DB: hackaton_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
    driver: local