DATABASE_URL=postgresql+psycopg2://hackaton_user:hackaton_passwd@127.0.0.1:5432/hackaton_db

# App settings
APP_NAME=hackaton
DEBUG=true
SECRET_KEY=change-me
OPENAI_KEY=XDDD
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# CORS - comma-separated list of allowed origins
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000